.topnav {
  background: linear-gradient(to right, #d122e3, #bb6ef5);
  position: sticky;
  height: 100px;
}

.link-text {
  font-family: "Poppins";
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.registry {
  padding-top: 10px;
}

.icon-style {
  width: 100px;
  height: 100px;
  /* border-radius: 50%; */
}

.icon-text:hover {
  color: blue;
}

.footer-socials {
  text-decoration: none;
  color: #d122e3;
}

.footer-socials:hover {
  color: #bb6ef5;
}

/* @media screen and (max-width: 576px) {
  .link-text {
    font-size: 10px;
  }
} */
